# Logs and temp files
logs/*
!logs/.gitkeep
*.log
*.tmp
*.bak

# System files
.DS_Store
Thumbs.db

# Python files (if using Python)
*.pyc
__pycache__/

# Configuration files that contain sensitive info
config/*.env
config/secret_config.json
config/utils/cams.yaml
config/utils/ssh.yaml

# Virtual environment (if using one)
venv/
.env

# Data files - keep folder but ignore contents
data/*
!data/.gitkeep
outputs/
status/processing_history.csv
*.lock
current_status.txt
status/*
*.avi
*.ipynb